<a href="https://colab.research.google.com/github/Mustafa017/feedback_analysis/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q -U watermark

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
markdown 3.3.6 requires importlib-metadata>=4.4; python_version < "3.10", but you have importlib-metadata 2.1.2 which is incompatible.

In [ ]:
!pip install -qq transformers

     |████████████████████████████████| 3.4 MB 26.7 MB/s
     |████████████████████████████████| 895 kB 54.9 MB/s
     |████████████████████████████████| 3.3 MB 49.0 MB/s
     |████████████████████████████████| 67 kB 4.8 MB/s
     |████████████████████████████████| 596 kB 61.2 MB/s

In [ ]:
%reload_ext watermark
%watermark -v -p numpy,pandas,torch,transformers

Python implementation: CPython
Python version       : 3.7.12
IPython version      : 5.5.0

numpy       : 1.19.5
pandas      : 1.1.5
torch       : 1.10.0+cu111
transformers: 4.15.0

In [ ]:
!gdown --id 1S6qMioqPJjyBLpLVz4gmRTnJHnjitnuV
!gdown --id 1zdmewp7ayS4js4VtrJEHzAheSW-5NBZv

Downloading...
From: https://drive.google.com/uc?id=1S6qMioqPJjyBLpLVz4gmRTnJHnjitnuV
To: /content/apps.csv
100% 134k/134k [00:00<00:00, 4.32MB/s]
Downloading...
From: https://drive.google.com/uc?id=1zdmewp7ayS4js4VtrJEHzAheSW-5NBZv
To: /content/reviews.csv
100% 7.17M/7.17M [00:00<00:00, 62.5MB/s]

In [ ]:
!ls -a

.  ..  apps.csv  .config  reviews.csv  sample_data

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('reviews.csv')
df.head()

           userName  ...      appId
0     Andrew Thomas  ...  com.anydo
1      Craig Haines  ...  com.anydo
2     steven adkins  ...  com.anydo
3  Lars Panzerbjørn  ...  com.anydo
4     Scott Prewitt  ...  com.anydo

[5 rows x 11 columns]

In [ ]:
print(df.shape, '\n')
df.info()

(15746, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15746 entries, 0 to 15745
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   userName              15746 non-null  object
 1   userImage             15746 non-null  object
 2   content               15746 non-null  object
 3   score                 15746 non-null  int64
 4   thumbsUpCount         15746 non-null  int64
 5   reviewCreatedVersion  13533 non-null  object
 6   at                    15746 non-null  object
 7   replyContent          7367 non-null   object
 8   repliedAt             7367 non-null   object
 9   sortOrder             15746 non-null  object
 10  appId                 15746 non-null  object
dtypes: int64(2), object(9)
memory usage: 1.3+ MB

The Score and Review text have no missing values. That is great